@using Business.DTOs
@using Business.DTOs.Viewmodels
@using Data.Entities;
@using System.Collections
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" asp-controller="Home" method="get">

    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col-10">
                <div class="p-3">
                    <span class="input-group-text">EffectiveDate</span>
                    <input type="datetime-local" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="EffectiveDate" value="@Model.SearchDate.ToString("yyyy-MM-ddTHH:mm")" />
                </div>
            </div>
            <div class="col-2">
                <div class="p-3">
                    <select class="form-select" aria-label="Default select example" name="State" style="width:%;">
                        @foreach (var state in Enum.GetValues(typeof(States)))
                        {
                            <option>@state</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row gx-5">
            <div class="col-10">
                <div class="p-3">
                    <button type="submit" class="btn btn-warning">Search</button>
                </div>
            </div>
        </div>
    </div>

</form>


<!--Merging IndexPage And Searchpage-->


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Identifier</th>
            <th scope="col">Name</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">CertificationDate</th>
            <th scope="col">Version</th>
            <th scope="col">Edit</th>
            <th scope="col">Decommission</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.SearchedPorts.Any())
        {
            int item = 1;
            @foreach (var Port in Model.SearchedPorts)
            {
                <tr>
                    <th>@item</th>
                    <th>@Port.Identifier</th>
                    <th>@Port.Name</th>
                    <th>@Port.Latitude</th>
                    <th>@Port.Longitude</th>
                    <th>@Port.CertificationDate</th>
                    <th>@Port.TimeSlice</th>
                    

                    <form asp-controller="Home" asp-action="Edit" asp-route-Identifier="@Port.Identifier" asp-route-searchedDate="@Model.SearchDate.ToString("yyyy-MM-ddTHH:mm")" method="get">
                    <th><button type="submit" class="btn btn-info">Edit</button></th>
                    </form>

                    @if (Port.TimeSlice.Split(' ')[1] == "BaseLine")
                    {
                        <form asp-controller="Home" asp-action="Decommission" asp-route-Identifier="@Port.Identifier" asp-route-searchedDate="@Model.SearchDate.ToString("yyyy-MM-ddTHH:mm")" method="get" id="decommissionForm">
                        <th><button type="submit" class="btn btn-danger">Decommission</button></th>
                        </form>
                    }
                </tr>
                item++;
            }
        }

    </tbody>
</table>




